@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300&display=swap');

header{
    padding: 30px;
    background-color: rgb(252, 225, 230);
    background-image: linear-gradient(rgb(253, 168, 183), rgb(250, 225, 225));
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
    width: 100%;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

fieldset {
    border: 10px solid pink;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    padding: 60px;
}

fieldset p {
    width: 300px;
    padding: 20px;
}

fieldset p label {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    padding: 10px;
    width: 50px;
}

legend {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 40px;
    width: 300px;
    background: rgb(255, 118, 141);
    background:linear-gradient(rgb(255, 105, 132), rgb(253, 184, 184));
    border-radius: 20px;
}

.logo img{
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main {
    width: 25%;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

footer {
    background: rgb(255, 118, 141);
    background:linear-gradient(rgb(250, 224, 224, 1), rgb(253, 168, 182, 1)); 
    padding: 73px;
    bottom: 0;
    box-shadow: 0 4px 5px 5px rgba(0,0,0,0.5);
}