/* Gerais */
body {
    font-family: 'Roboto', sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 40px 0;
}

p, li {
    color: #444;
    font-size: 14px;
}

/* Barra de Navegação */

header, .navbar {
    background-color: #fdd0e7;
}

#navbar-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 10rem;
    padding: 0.8rem;
    padding-bottom: 1.25rem;
    margin-left: 10rem;
}

#logo:hover {
    opacity: 0.7;
}

.navbar-brand {
    padding: 0;
    color: #f266ab;
}

.navbar-brand:hover {
    color: #f1a7cc;
}

#navbar-links {
    margin-right: 10rem;
}

#navbar-links a {
    color: #f266ab;
    margin-right: 1.6rem;
    font-size: 1.3rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

/* Slider */

.container-fluid {
    padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 80vh;
}

#mainSlider .carousel-caption {
    top: 30%;
}

#mainSlider .carousel-caption h2 {
    font-size: 3rem;
    margin-bottom: 30px;
}

#mainSlider .carousel-caption p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 70px;
    color: #fff;
}

.main-btn {
    background-color: #f266ab;
    color: #FFF;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid #f266ab;
    transition: .5s;
}

.main-btn:hover {
    text-decoration: none;
    color: #FFF;
    background-color: transparent;
}

.carousel-indicators .active {
    background-color: #f266ab;
}
