header {
    background: rgb(245, 199, 207);
    padding: 20px 48px;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

.navbar {
    position: relative;
    width: 940px;
    margin: 10px auto;
}

.logo {
    display: inline-block;
}

.logo img{
    max-width: 200px;
    max-height: 150px;
    width: auto;
    height: auto;
}

nav {
    position: absolute;
    top: 50px;
    right: 50px;
}

.nav-itens {
    display: inline-block;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    padding: 4px;
    border: 2px solid rgb(207, 130, 143);
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

nav a:hover {
    color: pink;
    font-size: 25px;
}